[submodule "Vendors/libwebp"]
	path = Vendors/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "Vendors/FLAnimatedImage"]
	path = Vendors/FLAnimatedImage
	url = https://github.com/Flipboard/FLAnimatedImage
